<a class="w-nav-link menu-li" href="{% url 'index' %}">Home</a>
<a class="w-nav-link menu-li" href="{% url 'atualizar_usuario' %}">Atualizar Perfil</a>
<a class="w-nav-link menu-li" href="{% url 'sair' %}">Sair</a>

