<a class="w-nav-link menu-li" href="{% url 'index' %}#sobre">Sobre</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#programacao">Programação</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#palestrantes">Palestrantes</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#competicao">Desafio</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#hospitalidade">Hospitalidade</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#organizadores">Organizadores</a>
<a class="w-nav-link menu-li" href="{% url 'entrar' %}">Entrar</a>