{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

<br>
<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Atualizar Dados</h3>
                    </div>
			         <div class="panel-body">
						<form method="post" class="form">
						    {% csrf_token %}
						    {% bootstrap_form_errors form %}
						    {% bootstrap_form  form %}
						    {% buttons %}
						        <button type="submit" class="btn btn-primary">Atualizar</button>
						    {% endbuttons %}
						</form>
			         </div>            <!-- /.panel-body -->                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{# Read the documentation for more information #}




                           
