<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title title_detalhe_programacao">{{ minicurso.titulo }}</h2>

            {% for data in minicurso.datas %}
                <p class="date_detalhe_programacao">
                    {{ data.data | date:"j" }} {{ data.data | date:"F" }} /
                    {{ data.hora_inicial | time:"g:iA" }} - {{ data.hora_final | time:"g:iA"}}
                    (Sala: {{ minicurso.sala }})
                </p>
            {% endfor %}

        </div>

        <div class="modal-body">

            <div class="container detalhe_programacao">

                <div class="row">
                    {% if inscricao.minicurso.pk == minicurso.pk %}
                        <a class="btn btn-success pull-right" href="{% url 'cancelar_inscricao' minicurso.id %}">
                            {% if inscricao.is_tipo_inscricao %}
                                Cancelar Inscrição
                            {% else %}
                                Cancelar Espera
                            {% endif %}
                        </a>
                    {% elif minicurso.tem_vagas_disponiveis and not inscricao %}
                        <a class="btn btn-success pull-right" href="{% url 'minicurso_inscricao' minicurso.id %}">Inscreva-se</a>
                    {% elif minicurso.tem_vagas_reserva and not inscricao %}
                        <a class="btn btn-success pull-right" href="{% url 'minicurso_inscricao' minicurso.id %}">Entrar na Lista de Espera</a>
                    {% endif %}
                </div>

                <div class="row">
                    {% if minicurso.descricao %}
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <p class="subtitle_detalhe_programacao">Descrição</p>

                                <p class="texto_detalhe_programacao">{{ minicurso.descricao }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if minicurso.pre_requisitos %}
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <p class="subtitle_detalhe_programacao">Pré-requisitos</p>

                                <p class="texto_detalhe_programacao">{{ minicurso.pre_requisitos }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if minicurso.palestrante %}
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <p class="subtitle_detalhe_programacao">Palestrante</p>

                                <p class="texto_detalhe_programacao palestrante_name">{{ minicurso.palestrante.nome }}</p>

                                <p class="texto_detalhe_programacao">{{ minicurso.palestrante.bio }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
