{% extends "base.html" %}
{% load staticfiles %}

{% block extraheader %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jasny-bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>

{% endblock %}

{% block menu %}
    {% include 'menus/menu_area_usuario.html' %}
{% endblock %}

{% block content %}

    <section class="team-parlex" style="margin-top: 50px">
        <section class="parlex5-back">
            <div class="w-container">

                <div class="wrap">

                    {% include 'alert.html' %}

                    {% comment %}

                    <div class="col-lg-12">
                        {% if usuario_inscrito_maratona %}
                            <a class="btn btn-success" href="{% url 'atualizar_inscricao' %}">Atualizar Equipe</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'inscricao_desafio' %}">Inscreva sua Equipe</a>
                        {% endif %}

                    {% endcomment %}


                    <h5>Obs.: Só é possível inscrever-se em um minicurso.</h5>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Minicursos Inscritos
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Título</th>
                                            <th>Vagas Disponíveis</th>
                                        </tr>
                                        </thead>
                                        <tbody data-link="row" class="rowlink">
                                        {% if inscritos %}
                                            {% for minicurso in inscritos %}
                                                <td>
                                                    {% for data in minicurso.datas %}
                                                        {{ data.data | date:"j" }} de {{ data.data | date:"F" }}<br>
                                                    {% endfor %}
                                                </td>
                                                <td><a id="detail_minicurso"
                                                       href="{% url 'detail_minicurso' minicurso.id %}">{{ minicurso.titulo }}</a>
                                                </td>
                                                <td>{{ minicurso.vagas_disponiveis }}</td>
                                            {% endfor %}
                                            </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Programação Minicursos
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Data</th>
                                            <th>Título</th>
                                            <th>Vagas Disponíveis</th>
                                        </tr>
                                        </thead>
                                        <tbody data-link="row" class="rowlink">
                                        {% if nao_inscritos %}
                                            {% for minicurso in nao_inscritos %}
                                                <tr>
                                                <td>
                                                    {% for data in minicurso.datas %}
                                                        {{ data.data | date:"j" }} de {{ data.data | date:"F" }}<br>
                                                    {% endfor %}
                                                </td>
                                                <td><a id="detail_minicurso"
                                                       href="{% url 'detail_minicurso' minicurso.id %}">{{ minicurso.titulo }}</a>
                                                </td>
                                                <td>{{ minicurso.vagas_disponiveis }}</td>
                                            {% endfor %}
                                            </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div id="detail_modal" class="modal fade">
    </div>

{% endblock %}

{% block extraimports %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
    <script src="{% static 'js/bootstrap-modalmanager.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/jasny-bootstrap.js' %}"></script>

    <script type="text/javascript">
        function open_modal_minicurso(url) {
            $.ajax({
                url: url
            }).done(function (data) {
                console.log(data)
                $("#detail_modal").html(data)
                $("#detail_modal").modal("show")
            });
        }

        $(document).on('click', '[id^="detail_minicurso"]', function (event) {
            $('body').modalmanager('loading');
            url = event.currentTarget.href
            open_modal_minicurso(url)
            return false;
        });
    </script>
{% endblock %}
