{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extraheader %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}
    {% if user.is_anonymous %}
        {% include 'menus/menu_nao_autenticado.html' %}
    {% else %}
        {% include 'menus/menu_autenticado.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    <section class="team-parlex" id="hospitalidade">
        <section class="parlex5-back">
            <div class="w-container">
                <div class="wrap">

                    <h1 class="service-heading">Desafio de Programação</h1>

                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form_errors form %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        {% endbuttons %}
                    </form>

                </div>
            </div>
            </div>
        </section>
    </section>
{% endblock %}