{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extraheader %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
{% endblock %}

{% block menu %}
    {% include 'menus/menu_area_usuario.html' %}
{% endblock %}

{% block content %}
    <section class="team-parlex" style="margin-top: 50px">
        <section class="parlex5-back">
            <div class="w-container">
                <div class="wrap">

                <div style="padding-bottom: 30px">
                    <a class="btn btn-default" href="{% url 'minha_area' %}">voltar</a>
                </div>

                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Cadastrar Trabalho</h2>
                        </div>
                        <div class="panel-body">
                            {% if form.errors %}
                                <div class="alert alert-danger">Email ou senha incorretos. Tente novamente.</div>
                            {% endif %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form_errors form %}
                                {% bootstrap_field form.inscricao %}
                                {% bootstrap_field form.tipo %}
                                {% bootstrap_field form.titulo %}

                                <input class="form-control" maxlength="1000" name="autores" type="hidden"/>
                                <input class="form-control" maxlength="255" name="orientadores" type="hidden"/>

                                <div class="container form-group">
                                    <label class="control-label">Autores</label>

                                    <div id="autor_fields">
                                        <div class="form-group" id="autor">
                                            <div class="form-group col-md-6">
                                                <input class="form-control" id="nome_autor_0" maxlength="100"
                                                       placeholder="Nome completo" required="required"/>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <input class="form-control" id="cpf_autor_0" maxlength="11"
                                                       placeholder="CPF" required="required" pattern="\d{11}"/>
                                            </div>
                                            <div class="form-group col-md-1 btn btn-success add_autor">+Autor</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Orientador</label>
                                    <input class="form-group form-control" id="nome_orientador_0" maxlength="100"
                                           placeholder="Nome completo" required="required"/>
                                    <input class="form-group form-control" id="cpf_orientador_0" maxlength="11"
                                           placeholder="CPF"
                                           required="required" pattern="\d{11}"/>
                                </div>


                                <label class="control-label" for="id_artigo">Artigo</label>

                                <div class="row bootstrap3-multi-input">
                                    <div class="col-xs-12">
                                        <input class="" id="id_artigo" name="artigo" title="" required="required"
                                               type="file" pattern="([^\s]+(\.(?i)(doc|docx))$)"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script>

        var num_autores = 1;

        function get_nome_cpf(nome, cpf, size) {
            var nome_cpf = ''
            for (i = 0; i < size; i++) {
                nome_cpf += "Nome: " + document.getElementById(nome + i).value + ", "
                nome_cpf += "CPF: " + document.getElementById(cpf + i).value + "; "
            }
            return nome_cpf
        }

        $("form").submit(function () {
            console.log("num" + num_autores)
            var autores = get_nome_cpf("nome_autor_", "cpf_autor_", num_autores)
            var orientadores = get_nome_cpf("nome_orientador_", "cpf_orientador_", 1)
            $('input[name="autores"]').attr('value', autores);
            $('input[name="orientadores"]').attr('value', orientadores);
            console.log(autores)
        });

        $(document).on('click', '#remover_autor', function () {
            $(this).parents("#autor").remove()
            num_autores -= 1;
            console.log(num_autores)
        });

        $('.add_autor').click(function () {
            var id_autor = num_autores
            var nome_cpf = '<div class="form-group" id="autor"><div class="form-group col-md-6">' +
                    '<input class="form-control" id="nome_autor_' + id_autor + '" maxlength="100" placeholder="Nome" required="required"/>' +
                    '</div><div class="form-group col-md-4">' +
                    '<input class="form-control" id="cpf_autor_' + id_autor + '" maxlength="11" placeholder="CPF" required="required" pattern="\\d{11}"/></div>' +
                    '<div class="form-group col-md-1 btn btn-warning add_autor" id="remover_autor">Remover</div></div>'
            $('#autor_fields').append(nome_cpf)
            num_autores += 1;
            console.log(num_autores)
        });
    </script>
{% endblock %}