<section style="height: 673px; background-position: 50% 0px;" id="intro">
    <div class="container">
        <div class="row jumbotron">
            <div class="span12 text-center ">
                <h1>I Encontro de Tecnologia do Alto Oeste Potiguar</h1>
                <ul class="date-main">
                    <li>26 a 28/ago</li>
                    <li >Pau dos Ferros - RN</li>
                </ul>
                <div class="register-main">
                    <a href="#programacao" class="btn btn-block btn-sponsor">Programação</a>
                    <a href="{% url 'registrar' %}" class="btn btn-block">Inscrição</a>
                </div>
            </div>
        </div>
    </div>
</section>
