{% load staticfiles %}

<section class="process-parlex" id="competicao">
    <section class="parlex5-back" style="height: 673px;">
        <div class="w-container">
            <div class="wrap">
                <div class="service-combo">
                    <div class="services">
                        <h1 class="service-heading">1° Desafio de Programação</h1>

                        <div class="sepreater service"></div>

                        <p>
                            O 1º Desafio de Programação é um evento que tem como objetivo promover uma maior integração
                            do corpo docente e discente dos cursos de informática da região, além de público externo que
                            goste de programar. O torneio envolve criatividade, raciocínio, muito trabalho em equipe,
                            busca de novas soluções de software e habilidade de resolver problemas sob pressão.
                        </p>

                        <div class="desafio">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>As inscrições serão efetuadas no período de 13 de julho até 18 de julho de
                                        2015.
                                    </td>
                                </tr>
                                <tr>
                                    <td>As equipes poderão ser formadas por no mínimo 02 pessoas e no máximo 03.</td>
                                </tr>
                                <tr>
                                    <td>As seletivas serão realizadas no dia 29/07/2015 e 12/08/2015.</td>
                                </tr>
                                <tr>
                                    <td>As finais serão realizadas durante o evento.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="desafio_edital">
                            <p>Para mais informações veja o
                                <a href="{% static 'arquivos/edital_desafio_programacao.pdf' %}">edital.</a>
                            </p>
                        </div>

                        {% comment %}

                        <div class="btn-ex-two">
                            <a class="ex-btn text-center" href="{% url 'inscricao_desafio' %}">Inscreva sua Equipe</a>
                        </div>

                        {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




