{% load staticfiles %}
<section class="patrocionio-parlex" id="organizadores">
    <div class="w-container">
        <div class="wrap w-col-6">
            <h2 class="patrocionio-title">Organizadores:</h2>

            <p class="about-des">Prof. Me. Demétrios Coutinho</p>
            <p class="about-des">Prof. Me. Lucas Vieira de Souza</p>
            <p class="about-des">Prof. Esp. Jeferson Queiroga Pereira</p>
            <p class="about-des">Prof. Me. Fernando Wagner Brito Hortencio Filho</p>
            <p class="about-des">Prof. Me. Manoel do Bonfim Lins de Aquino</p>
            <p class="about-des">Prof. Me. Rafael Peixoto de Moraes Pereira</p>
            <p class="about-des">Prof. Me. Francisco Sergio de Almeida Neto</p>
            <p class="about-des">Prof. Me. Ciro Daniel Gurgel de Moura</p>
            <p class="about-des">Prof. Me. Dennys Lopes Alves</p>
            <p class="about-des">Profa. Dra. Ayla Marcia Cordeiro Bizerra</p>
        </div>

        <div class="wrap w-col-6">
            <h2 class="patrocionio-title">Apoio:</h2>            
            <img class="img-patrocinio" src="{% static 'images/clients/apoio-logo-04.png' %}" alt="Logo Frisco">
            <img class="img-patrocinio" src="{% static 'images/clients/apoio-logo.png' %}" alt="Logo Evo Corp">
            <img class="img-patrocinio" src="{% static 'images/clients/apoio-logo-01.png' %}" alt="Logo Widstar">            
            <img class="img-patrocinio" src="{% static 'images/clients/apoio-logo-02.png' %}" alt="Logo Net Online">
            <img class="img-patrocinio" src="{% static 'images/clients/apoio-logo-03.png' %}" alt="Logo InfoFox">

            <h2 class="patrocionio-title">Contato:</h2>         

            <p style="color: #fff;"><i class="fa fa-phone"></i> IFRN(4005 4109) <a href="https://www.facebook.com/events/1596102603987349/"><img src="{% static 'images/social/Facebook.png' %}"></a></p>            
        </div>

    </div>
</section>
