{% load staticfiles %}
<section class="parlex2-back" id="palestrantes">
    <section class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <div class="team">
                    <h1 class="team">PALESTRANTES</h1>

                    <div class="sepreater service"></div>
                    <br/>
                </div>

                <div class="w-row team-member">
                    <div class="w-col w-col-3">
                        <div class="team-image">
                            <img class="team-img" src="{% static 'images/team/ernano.jpg' %}"
                                 alt="Ernano Arrais Júnior">
                        </div>
                    </div>

                    <div class="w-col w-col-3">
                        <div class="team-image">
                            <img class="team-img" src="{% static 'images/team/elaine.jpg' %}"
                                 alt="Elaine Cristina Araújo">
                        </div>
                    </div>

                    <div class="w-col w-col-3">
                        <div class="team-image">
                            <img class="team-img" src="{% static 'images/team/ricardo.jpg' %}" alt="Ricardo Kleber">
                        </div>
                    </div>

                    <div class="w-col w-col-3">
                        <div class="team-image">
                            <img class="team-img" src="{% static 'images/team/thiago.jpg' %}" alt="Thiago Medeiro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>