<section class="process-parlex" id="programacao">
    <section class="parlex2-back">
        <div class="w-container">
            <div class="wrap">
                <div class="service-combo">
                    <div class="services">
                        <h1 class="service-heading">PROGRAMAÇÃO</h1>

                        <div class="sepreater service"></div>
                    </div>
                    <div id="programacao" class="grid">
                        <div class="col-1-2">
                            <div class="column">
                                <h3>26 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>
                                    <tr class="keynote">
                                        <td>14:00h às 18:00h</td>
                                        <td>
                                            <h2 class="no-margin">Credenciamento</h2>
                                            <span class="description">Local: Hall do auditório </span></br>
                                            <span class="description ">Coordenação: Prof. Ciro Moura</span>
                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:00h</td>
                                        <td>
                                            <h2 class="no-margin">Cerimônia de Abertura</h2>
                                        </td>
                                    </tr>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:30h</td>
                                        <td>
                                            <h2 class="no-margin">Conferência de Abertura: Computação Forense - Investigando Crimes Cibernéticos</h2>
                                            <span class="description ">Palestrante: Prof. Ricardo Kleber (IFRN/Natal-Central)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Me. Demétrios Coutinho</span></br>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>21:00h</td>
                                        <td>Coquetel de Abertura</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-1-2">
                            <div class="column">
                                <h3>27 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>                                
                                    <tr class="keynote">
                                        <td>08:00h às 09:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 01: Smart Grid - Redes Elétricas Inteligentes</h2>
                                            <span class="description ">Palestrante: Prof. Ms. Ermano Arrais Júnior (UFERSA/PdF)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Dennys Alves</span></br>
                                        </td> 
                                        
                                    </tr>
                                    <tr class="keynote">
                                        <td>09:00h às 10:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 02: O Impacto da TI na Produtividade das Empresas</h2>
                                            <span class="description ">Palestrante: Thiago Medeiro de Menezes (THMSOFT)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Jeferson Queiroga</span></br>
                                        </td> 
                                    </tr>
                                    <tr class="muted">
                                        <td>10:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>10:30h às 12:30h</td>
                                        <td>
                                            <h2 class="no-margin">Minicursos parte I: </h2>
                                            <span class="description ">Verificar na área do usuário para obter mais informações.</span></br>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>12:30h</td>
                                        <td>Intervalo para o almoço</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>14:30h às 16:00h</td>
                                        <td>
                                            <h2 class="no-margin">Mesa Redonda 01: Empreender em Empresas de Tecnologia</h2>
                                            <span class="description ">Participantes: Thiago Medeiro de Menezes (THMSOFT), Gustavo Leitão (Logique), Guilherme Rodrigues (EVOCORP), Prof. Me. Francisco Sergio de Almeida Neto (IFRN/PDF)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Sergio Neto</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>16:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>16:30h às 18:30h</td>
                                        <td>
                                            <h2 class="no-margin">Minicurso parte II: </h2>
                                            <span class="description ">Verificar na área do usuário para obter mais informações.</span></br>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>18:30h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:30h às 21:30h</td>
                                        <td>
                                            <h2 class="no-margin">Etapa Final do Desafio de Programação</h2>
                                            <span class="description ">Local: Pátio do Instituto</span></br>
                                            <span class="description">Coordenação: Prof. Jeferson Queiroga</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     </div>

                    <div align="center" id="programacao" class="grid">
                        <div class="col-1-2">
                            <div class="column">
                                <h3>28 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>
                                    <tr class="keynote">
                                        <td>08:00h às 09:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 01: Usabilidade e Experiência do Usuário no Design de Interação: O que fazer e o que não fazer em suas interfaces.</h2>
                                            <span class="description ">Palestrante: Profa. Ms. Elaine Cristina Junvino de Araújo (IFPB/CG)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description ">Coordenação: Prof. Lucas Souza</span>
                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>09:00h às 10:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 02: Inovação nos pequenos negócios</h2>
                                            <span class="description ">Palestrante: Rafael Demétrius</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Sergio Neto</span>
                                        </td>
                                    </tr>
                                     <tr class="muted">
                                        <td>10:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>10:30h às 12:30h</td>
                                        <td>
                                            <h2 class="no-margin">Minicurso parte I: </h2>
                                            <span class="description ">Verificar na área do usuário para obter mais informações.</span></br>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>12:30h</td>
                                        <td>Intervalo para o almoço</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>14:00h às 16:00h</td>
                                        <td>
                                            <h2 class="no-margin">Minicurso parte II: </h2>
                                            <span class="description ">Verificar na área do usuário para obter mais informações.</span></br>
                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>16:30h às 18:00h</td>
                                        <td>
                                            <h2 class="no-margin">Mesa Redonda 01: Internet of Things</h2>
                                            <span class="description ">Participantes: Prof. Lucas Vieira de Souza, Prof. Ivan Soares, Prof. Rafael Peixoto</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Lucas Souza</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>18:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:30h às 21:30h</td>
                                        <td>
                                            <h2 class="no-margin">Etapa Final do Desafio de Programação</h2>
                                            <span class="description ">Local: Pátio do Instituto</span></br>
                                            <span class="description">Coordenação: Prof. Jeferson Queiroga</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div> 

                <div id="programacao" class="grid">
                    <div class="col-1-1">
                        <div class="column">
                            <table class="table">
                                <tbody>
                                <tr class="muted">
                                    <td>* A grade de palestras poderá ser alterada sem aviso prévio por parte da
                                        organização.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
