{% load staticfiles %}

<section class="about-parlex" id="sobre">
    <section class="parlex7-back">
        <div class="w-container">
            <div id="about-animation"></div>
            <div class="wrap">
                <div class="about">
                    <h4 class="about-heading"><img src="{% static 'images/imagemSobre.png' %}"></h4>

                    <h1 class="about-heading">I Encontro de Tecnologia do Alto Oeste Potiguar</h1>

                    <div class="sepreater"></div>


                    <p class="about-des" style="font-size:16px">
                        O objetivo do evento é promover atividades que envolvam os diferentes tipos de tecnologia e as mais diversas aplicabilidades no mercado de trabalho na região.
                    </p>
                    <p class="about-des" style="font-size:16px">
                        Essa primeira edição é composta por minicursos, palestras e mesas redondas com vários temas envolvendo a área de software e hardware. 
                    </p>
                    <p class="about-des" style="font-size:16px">
                        O evento será sede da I Competição de Programação do Alto-Oeste, com premiações para os melhores colocados.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
